.login-section {
    background-image: url(../../images/bannerbackground.png);
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;

}

.login-form {
    background-color: #fff;
    padding: 50px;
    margin: 30px auto !important;
    border-radius: 10px;
}

.login-form Button[type='submit'] {
    background-color: #F91944;
}